@model IEnumerable<StudentExercisesMVC.Models.Cohort>

@{
    ViewData["Title"] = "StudentExerciseReport";
}

<h1>Student Exercise Report</h1>

<div class="row">
    <label for="cohort-select">Cohort</label>
    <select id="cohort-select">
        <option>Select a Cohort...</option>
        @foreach(var cohort in Model)
        {
            <option value="@cohort.Id">@cohort.Name</option>
        }
    </select>
</div>
<div class="row">
    <div id="output"></div>
</div>

@section scripts {
<script src="~/js/report.js"></script>
<script>
    const cohortSelect = document.getElementById('cohort-select');
    const output = document.getElementById('output');

    cohortSelect.addEventListener("change", (evt) => {
        ReportManager
            .getStudentsInCohort(evt.target.value)
            .then(students => {
                const html = students.map(student =>
                    `<div>${student.firstName} ${student.lastName}</div>
                     <div>${student.slackHandle}</div>`
                ).join('');
                output.innerHTML = html;
            });
    });
</script>
}
